<div class="card my-3">
  <div class="card-header">
    Košík
  </div>
  <div class="card-body" n:snippet="cartHeader">
    <p>Počet položek: {$cartSummary['totalItems']} ks</p>
    <p>Cena celkem: {$cartSummary['totalPrice']|number,0,',',' '} Kč</p>
    <a n:href="Cart:" class="btn btn-primary">Košík</a>
  </div>
</div>
